---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404: NOT FOUND">
  <main>
    <h1>NOT FOUND</h1>
    <p>You just hit a route that doesn&#39;t exist... the sadness.</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
  }